<div class="container pt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
                <% if @user == current_user %>
                    <%= link_to '編集', edit_profile_path, class: 'btn btn-success float-right' %>
                <%end %>
                <table class="table">
                    <tr>
                        <th scope="row"><%= User.human_attribute_name(:name) %></th>
                        <td><%= @user.name %></td>
                    </tr>
                    <tr>
                        <th scope="row"><%= User.human_attribute_name(:email) %></th>
                        <td><%= @user.email %></td>
                    </tr>
                    <tr>
                        <th scope="row"><%= User.human_attribute_name(:profile) %></th>
                        <td><%= @user.profile %></td>
                    </tr>
                    <% if current_user.avatar? %>
                    <tr>
                        <th scope="row"><%= User.human_attribute_name(:avatar) %></th>
                        <td><%=image_tag @user.avatar.url, class: 'rounded-circle', size: '50x50' %></td>
                    </tr>
                    <% end %>
                </table>
            </div>
        </div>
</div>
